[Unit]
Description = {{ component_name | title }} Service
[Service]
User={{ service_username }}
WorkingDirectory=/app
{% for item in component_secrets | dict2items %}
Environment={{ item.key }}={{ item.value }}
{% endfor %}
ExecStart={{ service_start_command }}
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target